In [1]:
df = pd.read_csv('data/merged_df_dash.csv')

In [5]:
df.Tribe.value_counts()

Green Beret      189
SEAL             148
Pilot            113
Ranger            60
NEOD              48
SWCC              44
Raider            39
Helo Pilot        32
PJ                17
CCT               12
Recon              6
PSYOPS             6
EOD                2
SOWT               2
JCU                1
Civil Affairs      1
Name: Tribe, dtype: int64

### Split out Pilot and Helo Pilot Tribes by Branch

In [7]:
df[df['Tribe'] == 'Pilot'].groupby('Branch')['Id'].count()

Branch
Air Force       28
Army             1
Coast Guard      1
Marine Corps    12
Navy            71
Name: Id, dtype: int64

In [12]:
def branch_assignment(df, branch, p_type):
    navy_inds = df[(df['Branch'] == branch)&(df['Tribe'] == p_type)].index
    return navy_inds

In [9]:
branch_assignment(df)

Int64Index([ 15,  18,  19,  31,  34,  39,  56,  59,  61,  64,  65,  66,  68,
             75,  77, 100, 104, 108, 114, 116, 123, 126, 140, 144, 167, 169,
            181, 182, 200, 206, 232, 235, 245, 262, 266, 282, 290, 293, 295,
            327, 392, 420, 428, 434, 436, 447, 454, 458, 463, 470, 476, 483,
            511, 512, 514, 515, 517, 571, 575, 595, 596, 598, 600, 602, 605,
            611, 643, 645, 676, 687, 718],
           dtype='int64')

In [15]:
navy_inds = branch_assignment(df, "Navy", "Pilot")
mc_inds = branch_assignment(df, 'Marine Corps', 'Pilot')
afinds = branch_assignment(df, 'Air Force', 'Pilot')
armyinds = branch_assignment(df, 'Army', 'Pilot')

### Check indices for Pilot values

In [16]:
navy_inds, mc_inds, afinds, armyinds

(Int64Index([ 15,  18,  19,  31,  34,  39,  56,  59,  61,  64,  65,  66,  68,
              75,  77, 100, 104, 108, 114, 116, 123, 126, 140, 144, 167, 169,
             181, 182, 200, 206, 232, 235, 245, 262, 266, 282, 290, 293, 295,
             327, 392, 420, 428, 434, 436, 447, 454, 458, 463, 470, 476, 483,
             511, 512, 514, 515, 517, 571, 575, 595, 596, 598, 600, 602, 605,
             611, 643, 645, 676, 687, 718],
            dtype='int64'),
 Int64Index([105, 183, 204, 213, 271, 311, 357, 431, 459, 482, 558, 630], dtype='int64'),
 Int64Index([ 12,  89,  98, 103, 157, 161, 180, 197, 199, 217, 223, 246, 337,
             342, 404, 439, 443, 457, 480, 501, 502, 549, 591, 615, 621, 647,
             672, 702],
            dtype='int64'),
 Int64Index([709], dtype='int64'))

In [19]:
df.loc[navy_inds, 'Tribe'] = 'Pilot (N)'

df.loc[mc_inds, 'Tribe'] = 'Pilot (MC)'

df.loc[afinds, 'Tribe'] = 'Pilot (AF)'

df.loc[armyinds, 'Tribe'] = 'Pilot (A)'

In [23]:
df['Tribe'].value_counts()

Green Beret      189
SEAL             148
Pilot (N)         71
Ranger            60
NEOD              48
SWCC              44
Raider            39
Helo Pilot        32
Pilot (AF)        28
PJ                17
Pilot (MC)        12
CCT               12
PSYOPS             6
Recon              6
EOD                2
SOWT               2
JCU                1
Civil Affairs      1
Pilot (A)          1
Pilot              1
Name: Tribe, dtype: int64

In [27]:
df.loc[690, 'Tribe'] = 'Pilot (CG)'

In [28]:
df.Tribe.value_counts()

Green Beret      189
SEAL             148
Pilot (N)         71
Ranger            60
NEOD              48
SWCC              44
Raider            39
Helo Pilot        32
Pilot (AF)        28
PJ                17
Pilot (MC)        12
CCT               12
PSYOPS             6
Recon              6
EOD                2
SOWT               2
Pilot (CG)         1
JCU                1
Civil Affairs      1
Pilot (A)          1
Name: Tribe, dtype: int64

In [29]:
navy_inds = branch_assignment(df, "Navy", "Helo Pilot")
mc_inds = branch_assignment(df, 'Marine Corps', 'Helo Pilot')
afinds = branch_assignment(df, 'Air Force', 'Helo Pilot')
armyinds = branch_assignment(df, 'Army', 'Helo Pilot')

### CHeck indices for Helo Pilot values

In [30]:
navy_inds, mc_inds, afinds, armyinds

(Int64Index([526, 599], dtype='int64'),
 Int64Index([276, 361, 658], dtype='int64'),
 Int64Index([248], dtype='int64'),
 Int64Index([ 13,  78, 168, 172, 178, 190, 205, 251, 269, 272, 352, 441, 464,
             466, 491, 496, 508, 570, 579, 623, 642, 653, 656, 668, 706, 708],
            dtype='int64'))

In [34]:
df.loc[navy_inds, 'Tribe'] = 'Helo Pilot (N)'

df.loc[mc_inds, 'Tribe'] = 'Helo Pilot (MC)'

df.loc[afinds, 'Tribe'] = 'Helo Pilot (AF)'

df.loc[armyinds, 'Tribe'] = 'Helo Pilot (A)'

In [36]:
df['Tribe'].value_counts()

Green Beret        189
SEAL               148
Pilot (N)           71
Ranger              60
NEOD                48
SWCC                44
Raider              39
Pilot (AF)          28
Helo Pilot (A)      26
PJ                  17
Pilot (MC)          12
CCT                 12
PSYOPS               6
Recon                6
Helo Pilot (MC)      3
EOD                  2
SOWT                 2
Helo Pilot (N)       2
Pilot (CG)           1
Helo Pilot (AF)      1
JCU                  1
Civil Affairs        1
Pilot (A)            1
Name: Tribe, dtype: int64

In [41]:
df.to_csv('data/updated_pilots.csv', index=False)

In [40]:
ls data

merged_df_dash.csv  vets_coords.csv